@charset "utf-8";
* {
	margin:0;
	padding:0;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #E1DACE;
	background-attachment: scroll;
	background-repeat: repeat-y;
	color: #333333;
	background-image: url(../Images/bg.jpg);
	background-position: center;
}
td {
	font-size: 12px;
	text-decoration: none;
	line-height: 21px;
}
.w1000{ width: 1000px;height:auto!important;overflow:hidden !important;overflow: visible; margin: 0px auto; clear:both; background-color:#FFFFFF; }
.table {
	background-color: #FFFFFF;
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}

.nav {
	color: #000000;
	text-decoration: none;
}
.nav a:link {
	color: #000000;
	text-decoration: none;
	padding-right: 18px;
	padding-left: 18px;
	font-weight: bold;
}
.nav a:visited {
	color: #000000;
	text-decoration: none;
	padding-right: 18px;
	padding-left: 18px;
	font-weight: bold;
}
.nav a:hover {
	color: #A5490C;
	padding-right: 18px;
	padding-left: 18px;
	font-weight: bold;
}

.list {
	color: #000000;
	text-decoration: none;
}
.list a:link {
	color: #000000;
	text-decoration: none;
	padding-left: 45px;

}
.list a:visited {
	color: #000000;
	text-decoration: none;
	padding-left: 45px;

}
.list a:hover {
	color: #990000;
	padding-left: 45px;
}

table {
	border-collapse:collapse;
}
img {
	border:0;
}
ul {
	list-style:none;
}
.ImgList {
	margin:0;
	margin:5px;
	list-style:none;
}
.ImgList li {
	float:left;
	margin-right:5px;
	margin-bottom:10px;
	width:210px;
	height:180px;
	text-align:center;
	line-height:20px;
	overflow:hidden;
}
.ImgList li img {
	width:190px;
	height:150px;
	border: 1px solid #CCCCCC;
}
.proList {
	margin:0;
	margin:5px;
	list-style:none;
}
.proList li {
	float:left;
	margin-right:5px;
	margin-bottom:10px;
	width:210px;
	height:290px;
	text-align:center;
	line-height:20px;
	overflow:hidden;
}
.proList li img {
	width:170px;
	height:240px;
	border: 3px double #CCCCCC;
}

.pro {
	margin:0;
	margin:20px;
	list-style:none;
}
.pro li {
	float:left;
	margin-right:5px;
	margin-bottom:10px;
	width:185px;
	height:190px;

	overflow:hidden;
}
.pro li img {
	width:170px;
	height:120px;
	border: 3px double #CCCCCC;
}

.li {
	list-style:none;
	padding-left: 30px;
}
.Title {
	font-size:14px;
	text-align:center;
	margin:10px;
	font-weight: bold;
}
.Info {
	text-align:center;
	line-height:20px;
}
.Contents {
	margin:10px;
	line-height:150%;
}
.bottom {
color:#FFFFFF;
	padding-left: 10px;
}
.bottom a:link {
	color:#FFFFFF;
}
.bottom a:visited {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}

.bottom a:hover {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}


.border {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.bg {
	background-repeat: no-repeat;
	background-position: left bottom;
	background-image: url(../Images/in-left2.jpg);
}
.bg1 {
	background-image: url(../Images/navbg4.jpg);
}
.img {
	border: 3px double #DDDDDD;
}
.divfoot
{
  border-bottom: 1px solid #CCCCCC;
}
.fontsize1 {
	font-size: 12px;
	color: #FFFFFF;
}

.nav-title {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	padding-left: 50px;
}
.here {
	padding-right: 30px;
}
.form input
 {
	font-size: 12px;
	color: #333333;
}
.form select
 {
	font-size: 12px;
	color: #333333;
}